*{
  box-sizing:  border-box;
  font-family: "Arial", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
 
}

section {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.home {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

}



.home .content {
  z-index: 888;
  width: 70%;
  margin-top: 20px;
}

.home .content h1 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 40px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color:rgba(0, 0, 0, 0.74);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
}

.home img {
  z-index: 000;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  object-fit: cover;
}

.menu-btn {
  background: url(iconmenu.png)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn.active {
  z-index: 999;
  background: url(iconmenuclose.png)no-repeat ;
  background-size: 30px;
  background-position: center;
  transition: 0.3s ease;
}

.container-svg {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  svg {
  
    display: flex;
      justify-content: center;
      align-items: center; 
  }
  

  .svgMapTer, .svgMapLand{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

  }

  #svgMapCity {
    position: relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .terries-tittle {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px 20px;
  }

  .territory {
    padding: 0px 20px;
  }

  /*Стили для полигонов SVG*/
  rect, polygon, path, ellipse {
      
      stroke-width: 2;           /*Толщина обводки*/
      fill: rgba(254,165,0,0.4); /*Цвет заливки #ffdba4*/
      cursor: pointer;           /*Курсор-указатель*/
      /*opacity: 0.5;*/          /*Прозрачность*/
      fill-opacity: 0.5;
  }
  
  /* Цвета полигонов при наведении мышкой*/
   rect:hover, polygon:hover, #hover, path:hover, ellipse:hover {
      stroke: rgba(2, 131, 229, 0.294);          /*Цвет обводки #005faa*/
      stroke-width: 1;                /*Толщина обводки*/	
      fill: rgba(20, 58, 228, 0.614) !important;     /*Цвет заливки #ff8c0b #ffc70b #ff9c1b*/	
      /*opacity: 0.5;*/               /*Прозрачность*/
  }
    /* Цвета полигонов при наведении мышкой*/
    rect:active, polygon:active, #active, path:active, ellipse:active {
      stroke: rgba(2, 131, 229, 0.607);          /*Цвет обводки #005faa*/
      stroke-width: 1;                /*Толщина обводки*/	
      fill: rgb(255, 0, 0) !important;     /*Цвет заливки #ff8c0b #ffc70b #ff9c1b*/	
      /*opacity: 0.5;*/               /*Прозрачность*/
  }

  #mypopup, #mypopup1, .popupOnMap {
    width: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: rgba(66, 122, 182, 0.47);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    position: absolute;
    visibility: hidden;
    color:aliceblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.828);
    font-size:medium;
    font-weight: 500;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.517);
    z-index: 10;
  }
  


  .popupOnMap:hover {
    cursor: pointer;
    background:rgba(232, 232, 232, 0.396);
  }

  
  .popupOnMap:active {
    cursor: pointer;
    background:rgba(121, 118, 118, 0.459);
  }

  .popupOnMap a {

    padding: 10px 5px;
    color:rgba(0, 0, 0, 0.74);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;

  }
/*********************************************************HEADER***********************************************************/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px; /* устанавливаем одинаковые отступы для header и footer */
  width: 100%;
  background: linear-gradient(to right, #1e3c72, #2a5298);
 
 
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(179, 171, 171, 0.553);

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.logo-title {
  display: flex;
  align-items: center;
  padding-left: 80px; /* устанавливаем отступ слева для логотипа, такой же как и в футере */
}

.header-logo {
  width: 250px;
  margin-right: 20px;
}

h1 {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display:flex;

  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-right: 80px; /* устанавливаем отступ справа для меню навигации, такой же как и в футере слева от последней колонки */
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.nav-link:active {
  transform: translateY(0);
}

.nav-link.active {
  border-bottom: 3px solid #ffffff;
}


/**********************************************************FOOTER************************************************************/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* изменяем выравнивание элементов на начало контейнера */

  width: 75%;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #ffffff;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  border-top: 3px solid rgba(255, 255, 255, 0.1);

  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(179, 171, 171, 0.553);
}


.logo-container {
  flex: 1;
  padding-left: 80px;
  text-align: center;
  padding-top: 0; /* добавляем небольшой верхний отступ, чтобы поднять логотип */
}

.miit-logo {
  width: 280px; /* увеличиваем размер логотипа */
}

.column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}


.column:last-child {
  border-right: none; /* убираем линию у последней колонки */
}

.column:hover {
  transform: translateY(-5px);
}
.contact-info {
  padding-right: 80px; /* делаем отступ справа таким же, как и у логотипа */
}
.miit-info {
  display: flex;
  flex: 2;
  justify-content: space-between;
}
.miit-info a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.miit-info a:hover {
  color: #b5b5b5;
  transform: scale(1.05);
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

th, td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  
}
th, td:first-child {
  background: #75a7d3;
  color: white;
  padding: 10px 20px;
  
}

th:first-child, th:nth-child(2){
  background: #418dd0;
  color: white;
  padding: 10px 20px;
  
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  background: #D8E6F3;
}

th:first-child, td:first-child {
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px; /* Закругление углов таблицы */
  overflow: hidden; /* Скрывает содержимое, выходящее за пределы закругленных углов */
}

table th, table td {
  border: 1px solid #ddd; /* Границы для ячеек */
}

/* Закругление углов верхних левой и правой ячеек */
table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

/* Закругление углов нижних левой и правой ячеек */
table tr:last-child th:first-child,
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child th:last-child,
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}




.buildings {
  display: flex; /* Используем Flexbox для расположения элементов */
}


.nameOfBuildings, .NameOfTerritory, .nameOfLand, .nameOfMap{

  flex-wrap: wrap;
  width: 80%;
  margin: auto; /* Автоматический отступ для центрирования */
  line-height: normal;
  text-align: center; /* Центрирование текста внутри h2 */
  padding-bottom: 10px;
  padding-top: 10px;
}

.titleOfLists {
  flex-wrap: wrap;
  margin-left: auto; 
  margin-right: auto;
  line-height: normal;
  text-align: center; /* Центрирование текста внутри h2 */
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebar {
  flex: 1; /* Боковое меню занимает меньше места */
  max-width: 300px; /* Максимальная ширина бокового меню */
}

.container, .svgContainer{
  margin: 10px;
  padding: 10px;
}


.tabContainer {
  margin: 10px;
  padding: 10px;
}

 .container, .svgContainer, .svgContainerTL {

  background: rgba(255, 255, 255, 0.379);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(179, 171, 171, 0.553);
}

.svgContainerTL {
  padding: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.tabContainer {
  background: rgba(255, 255, 255, 0.50);
  border-radius: 16px;

  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  
}

.container:empty {
  display: none;
}

.svgContainer:empty {
  display: none;
}
/* Стилизация заголовков */
.container h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.1em;
}

/* Стилизация текста после select */
.container p {
  color: #666;
  margin: 5px;
  font-size: 0.9em;
}


.container:last-child {
    /* У последнего контейнера убираем границу, если она не нужна */
    border-bottom: none;
}

.animated-fill {
  transition: fill 0.8s ease; /* Анимация изменения цвета заливки */
}

.animated-fill:hover {
  transition: none; /* Отмена анимации при наведении */
}

.animated-svg {
  animation: colorAndScale 1.5s forwards;
}

@keyframes colorAndScale {
  0%, 100% {
   
    transform: scale(1); /* Исходный размер */
  }
  50% {
   
    transform: scale(1.05); /* Увеличенный размер */
  }
}

/* Стилизация выпадающих списков */
select {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  color: #333;
  -webkit-appearance: none; /* Убирает стандартный стиль в Chrome и Safari */
  -moz-appearance: none; /* Убирает стандартный стиль в Firefox */
  appearance: none; /* Убирает стандартный стиль для остальных браузеров */
}


/* Стилизация для стрелки выпадающего списка */
select::-ms-expand {
  display: none; /* Убирает стрелку в IE и Edge */
}

/* Добавление пользовательской стрелки для выпадающего списка */
select {
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
}

/* Стиль для неактивного состояния */
select:disabled {
  background-color: #eee;
  color: #aaa;
}


.mainBar {
  order: 3;
  flex: 3;
}


/* ---------------------------------------------Стили для перетаскивания элементов------------------------------------------ */
.drag {
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: grab;
}

.drag:active {
  cursor: grabbing;
  background-color: #ccc; /* Измените на желаемый цвет */
}

/* Дополнительные стили для анимации перемещения */
.drag-over {
  border: 3px dashed  #151848; /* Пример стиля для элемента, над которым находится перетаскиваемый объект */
}



/* ---------------------------------------------Стили для блочного отображения списков------------------------------------------ */
.element-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Колонки будут иметь минимальную ширину 200px и максимальную - 1fr */
  gap: 10px; /* Расстояние между элементами */
}


.element-item {
  min-height: 150px;
  text-align: center;

  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc; /* Пример границы */
  text-align: center;
  transition: transform 0.3s ease; /* Плавный переход эффекта */
}


.element-item:hover {
  transform: scale(1.05); /* Увеличение размера при наведении */
}


.map-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.379);
  border-radius: 16px;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(179, 171, 171, 0.553);
}



.element-item h4 {

  margin: 5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
  .element-item {
      flex-basis: 100%; /* На маленьких экранах элементы займут всю ширину */
  }
}