*{
  box-sizing:  border-box;
  font-family: "Arial", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
  background-color: #f4f6f6;
}

section {
  padding: 0px 50px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.home::before {
  z-index: 777;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.home .content {
  z-index: 888;
  width: 70%;
  margin-top: 20px;
}

.home .content h1 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 40px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color:rgba(0, 0, 0, 0.74);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
}

.home img {
  z-index: 000;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  object-fit: cover;
}



.menu-btn {
  background: url(iconmenu.png)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn.active {
  z-index: 999;
  background: url(iconmenuclose.png)no-repeat ;
  background-size: 30px;
  background-position: center;
  transition: 0.3s ease;
}

.container-svg {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  svg {
  
    display: flex;
          justify-content: center;
          align-items: center; 
  }
  
  #svgmap1 {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0px 20px;

  }

  #svgMap {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0px 20px;
  }
  
  .svgMap {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0px 20px;
  }
  .terries-tittle {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px 20px;
  }

  .territory {
    padding: 0px 20px;
  }

  /*Стили для полигонов SVG*/
  rect, polygon, path, ellipse {
      
      stroke-width: 2;           /*Толщина обводки*/
      fill: rgba(254,165,0,0.4); /*Цвет заливки #ffdba4*/
      cursor: pointer;           /*Курсор-указатель*/
      /*opacity: 0.5;*/          /*Прозрачность*/
  }
  
  /* Цвета полигонов при наведении мышкой*/
   rect:hover, polygon:hover, #hover, path:hover, ellipse:hover {
      stroke: rgba(2, 131, 229, 0.294);          /*Цвет обводки #005faa*/
      stroke-width: 1;                /*Толщина обводки*/	
      fill: rgba(20, 58, 228, 0.74) !important;     /*Цвет заливки #ff8c0b #ffc70b #ff9c1b*/	
      /*opacity: 0.5;*/               /*Прозрачность*/
  }
  
  
  /* Цвета полигонов при наведении мышкой*/
   rect:hover, polygon:hover, #hover, path:hover {
      stroke: rgb(0,95,170);          /*Цвет обводки #005faa*/
      stroke-width: 5;                /*Толщина обводки*/	
      fill: rgba(0, 246, 0, 0.4) ;     /*Цвет заливки #ff8c0b #ffc70b #ff9c1b*/	
      /*opacity: 0.5;*/               /*Прозрачность*/
  }

  #mypopup, #mypopup1, .popupOnMap {
    width: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: rgba(170, 168, 168, 0.24);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    position: absolute;
    visibility: hidden;
    color:aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size:medium;
    font-weight: 500;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.517);
  }
  
  #mypopup::before, #mypopup1::before, .popupOnMap::before {
    content: "";
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    backdrop-filter: blur(15px);
    background:rgba(232, 232, 232, 0.24);
    position: absolute;
    left: -6px;
    top: 68px;
  }

  .popupOnMap:hover {
    cursor: pointer;
    background:rgba(232, 232, 232, 0.396);
  }

  
  .popupOnMap:active {
    cursor: pointer;
    background:rgba(121, 118, 118, 0.459);
  }

  .popupOnMap a {

    padding: 10px 5px;
    color:rgba(0, 0, 0, 0.74);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;

  }
/*********************************************************HEADER***********************************************************/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px; /* устанавливаем одинаковые отступы для header и footer */
  width: 100%;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  padding-left: 80px; /* устанавливаем отступ слева для логотипа, такой же как и в футере */
}

.header-logo {
  width: 250px;
  margin-right: 20px;
}

h1 {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-right: 80px; /* устанавливаем отступ справа для меню навигации, такой же как и в футере слева от последней колонки */
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.nav-link:active {
  transform: translateY(0);
}

.nav-link.active {
  border-bottom: 3px solid #ffffff;
}


/**********************************************************FOOTER************************************************************/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* изменяем выравнивание элементов на начало контейнера */
  padding: 30px 80px;
  width: 100%;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #ffffff;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

/* Декоративные элементы: добавляем "лучи" сверху и снизу футера */
.footer-container::before,
.footer-container::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 150%;
  height: 50px;
  background: linear-gradient(to left, #1e3c72, transparent, #1e3c72); /* градиент для "лучей" */
  z-index: -1; /* чтобы "лучи" были под содержимым футера */
}

.footer-container::before {
  top: -25px; /* "лучи" сверху */
  transform: rotate(-45deg); /* поворачиваем "лучи" */
}

.footer-container::after {
  bottom: -25px; /* "лучи" снизу */
  transform: rotate(45deg); /* поворачиваем "лучи" */
}
.logo-container {
  flex: 1;
  padding-left: 80px;
  text-align: center;
  padding-top: 0; /* добавляем небольшой верхний отступ, чтобы поднять логотип */
}

.miit-logo {
  width: 280px; /* увеличиваем размер логотипа */
}

.column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}


.column:last-child {
  border-right: none; /* убираем линию у последней колонки */
}

.column:hover {
  transform: translateY(-5px);
}
.contact-info {
  padding-right: 80px; /* делаем отступ справа таким же, как и у логотипа */
}
.miit-info {
  display: flex;
  flex: 2;
  justify-content: space-between;
}
.miit-info a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.miit-info a:hover {
  color: #b5b5b5;
  transform: scale(1.05);
}

/****************************************************Адаптивность**********************************************************/
.menu-toggle {
  display: none; /* по умолчанию иконка меню скрыта */
  font-size: 30px; /* увеличиваем размер иконки */
  color: #ffffff; /* делаем иконку белой */
  cursor: pointer;
  margin-left: 20px; /* добавляем отступ слева */
}

.nav-links {
  display: none; /* по умолчанию меню скрыто */
}


/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      padding: 20px;
  }

  .logo-title {
      justify-content: center;
      width: 100%;
      text-align: center;
  }

  .menu-toggle {
      display: block; /* показываем иконку меню */
  }

  .nav-links.active {
      display: flex; /* показываем меню при активации */
      flex-direction: column;
      align-items: center;
  }

  .nav-link {
      margin: 10px 0;
  }

  .header-logo {
      width: 200px;
  }

  h1 {
      margin-top: 10px;
  }

  .footer-container {
    flex-direction: column;
    padding: 20px; /* уменьшаем отступы */
}

.miit-logo {
  margin: 20px 0; /* устанавливаем вертикальные отступы для логотипа */
}

  .miit-info {
      flex-direction: column;
  }

  .column {
    margin: 10px 0; /* уменьшаем вертикальные отступы для колонок */
}
}
 /* Адаптивность для планшетов и десктопов */
@media (min-width: 769px) {
  .nav-links {
      display: flex; /* показываем меню для планшетов и десктопов */
  }

  .menu-toggle {
      display: none; /* скрываем иконку меню для планшетов и десктопов */
  }
}
/* Адаптивность для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container,
  .footer-container,
  .logo-container {
      padding: 20px 40px; /* уменьшаем отступы */
  }

  .nav-links,
  .miit-info {
      justify-content: space-around; /* равномерное распределение элементов */
  }

  .header-logo,
  .miit-logo {
      width: 220px; /* немного уменьшаем размер логотипа для планшетов */
  }
  .column, .miit-logo {
    margin: 0 10px; /* уменьшаем отступы между колонками и логотипом */
}
 

}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin: 50px auto; /* Растояние от верхнего края страницы */
  width: 80%;
}

th, td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  background: #D8E6F3;
}

th:first-child, td:first-child {
  text-align: left;
}

.buildings {
  display: flex; /* Используем Flexbox для расположения элементов */
}
.nameOfBuildings {
  flex-wrap: wrap;
}

.sidebar {
  flex: 1; /* Боковое меню занимает меньше места */
  max-width: 300px; /* Максимальная ширина бокового меню */
}

.svgMap {
  flex: 3; /* Элемент с картой занимает больше места */
  /* Дополнительные стили для svgMap */
}
.container {
    /* Добавляем нижнюю границу для каждого контейнера */
    border-bottom: 1px solid #ccc; /* Серая граница */
    margin-bottom: 10px; /* Отступ снизу */
    padding-bottom: 10px; /* Отступ внутри контейнера снизу */
}

.container:last-child {
    /* У последнего контейнера убираем границу, если она не нужна */
    border-bottom: none;
}

.animated-fill {
  transition: fill 0.8s ease; /* Анимация изменения цвета заливки */
}
